.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-wrapper {
  position: relative;

  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* .show-login .login-container {
  transform: translateX(0);
}
.show-login .signup-page {
  transform: translateX(100%);
}

.show-signup .login-container {
  transform: translateX(-100%);
}
.show-signup .signup-page {
  transform: translateX(0);
} */
