.dashboard-container {
    padding: 20px;
    text-align: center;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .chart {
    width: 45%;
  }
  
  h3 {
    margin-bottom: 20px;
    color: #333;
  }
  